body{
    background-color: #faf9f6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 90%;
    margin: auto;
}

.nome{
    font-size: 40px;
    background-color: cornflowerblue;
    text-align: center;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 1rem;
    width: 100%;
}

.gdp{
    color: #faf9f6;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.perfil{
    float: right;
    border-radius: 1rem;
    height: 205px;
}

ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Social-media{
    display: flex;
    justify-content: center;
  }

  a{
    display: flex;
    background: #fff;
    height: 45px;
    width: 45px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,124,196,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0, 124, 196, 0);
    transition: transform 0.5s
  }
  a i{
    font-size: 50px;
    color: rgb(0, 124, 196);
    transition: transform 0.5s;
  }
  a:hover{
    box-shadow:inset 4px 4px 6px -2px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                      -0.5px -0.5px 0px -1px rgba(255,255,255,1),
                      0.5px 0.5px 0px rgba(0,0,0,0.15),
                      0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0, 124, 196, 0.1);
    transform: translateY(2px);
  }
  a:hover i{
    transform: scale(0.90);
  }
  a:hover .fa-facebook{
    color: #3b5998;
  }
  a:hover .fa-twitter{
    color: #00acee;
  }
  a:hover .fa-whatsapp{
    color: #4fce5d;
  }
  a:hover .fa-instagram{
    color: #f14843;
  }
  a:hover .fa-youtube{
    color: #f00;
  }

a {
    color: darkslateblue;
    text-decoration: none;
}

a:hover{
    opacity: 2s;
    transition: 1s;
}

.empresas{
    background-color: aliceblue;
    border: transparent solid 1px;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 53px;
}

.exp{
    border-radius: 1rem;
}

.experiencias{
    background-color: aliceblue;
    border: transparent solid 1px;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
